h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: lighter;
}

.avatarBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid #9E5642;
    width: 100vw;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
    .theAvatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: rgba(188, 86, 66, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 100px;
        color: #9E5642;
        margin-bottom: 20px;
    }
.dataBox {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #9E5642;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.dataSettingsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
}
.loginSettingsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
    .loginSettingsForm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
